:root {
    /* Colors */
    --primary: #455ce9;
    --primary-hover: #334bd3;
    --primary-dark: #203088;
    --white: #f1f0ec;
    --white-hover: #b5b5b5;
    --black: #202020;
    --black-hover: #1f1f1f;
    --red: #d50045;
    --red-hover: #e10049;
    --bg-color: #04040d;
    --input-bg: #111827;
    --placeholder-color: #767676;

    /* RGB */
    --primary-soft: rgba(69, 92, 233, .5);
    --bg-soft: rgba(4, 4, 13, .9);
    --lk-gray: rgba(55 65 81);

    /* Transition */
    --smooth: ease .2s;
	--animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
	--animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
	--animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
	--animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);

    /* Container */
	--section-padding: clamp(5em, 21vh, 12em);
	--container-padding: clamp(2.5em, 8vw, 8em);
	--gap-padding: clamp(1.5em, 4vw, 2.5em);

    --lg: 1440px;
    --sm: 800px;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #1E293B;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #334155;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #3c4a5e;
}

::selection {
    background: var(--primary-hover);
    color: var(--white);
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background: var(--bg-color);
}
body, button, select, input, textarea {
	font: normal 2em/1 Inter, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
	color: var(--white);
    letter-spacing: 0.8px;
}
a {
    display: block;
    text-decoration: none;
    color: var(--black);
}
a:hover {
    text-decoration: none;
}
button {
    font-size: 1rem;
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.icon {
    cursor: pointer;
}
.center {
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Layout */
.container {
	position: relative;
	max-width: var(--lg);
	width: 100%;
	padding: 0 var(--container-padding);
	margin: 0 auto;
}
.container.container-sm {
	max-width: 500px;
	padding: 0 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Grotesk', Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    user-select: none;
    pointer-events: none;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3 { font-size: 0.9em; }
h4 { font-size: 0.6em; }
h5 { font-size: 0.3em; }
h6 { font-size: 0.1em; }

img { display: block; max-width: 100%; }